/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300);
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #14689B;
  background-color: #14689B; }

.reveal {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: inherit;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #aad544;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #d0e897;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #81a726; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #aad544;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #aad544; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #aad544; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #aad544; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #aad544; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #d0e897; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #d0e897; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #d0e897; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #d0e897; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #aad544;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal {
  position: relative; }
  .reveal table {
    margin: 0;
    font-size: .9em; }
    .reveal table th {
      font-size: .9em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.5);
      background: rgba(255, 255, 255, 0.05);
      color: #aad544; }
    .reveal table th, .reveal table td {
      border-bottom-color: #14689B;
      padding: .6em .6em .6em .6em;
      border-bottom-width: 10px; }
    .reveal table td {
      background: rgba(255, 255, 255, 0.1); }
    .reveal table tbody tr:last-child td {
      border-bottom: 10px solid #14689B; }
  .reveal table.full {
    width: 100%; }
  .reveal .slides {
    text-align: left; }
  .reveal .progress {
    height: 10px; }
  .reveal ul li, .reveal ol li {
    margin: 0.7em 0 !important;
    padding-left: 10px !important; }
  .reveal img.multi-image {
    width: 29%;
    background: white !important;
    vertical-align: middle;
    padding: 2px;
    margin-left: 1% !important;
    border-radius: 10px; }
  .reveal img.middle {
    margin-top: 5%; }
  .reveal img.side-image {
    position: fixed;
    right: 0px;
    float: right;
    height: 190px;
    background: white !important;
    vertical-align: middle;
    padding: 2px;
    margin: 5px !important;
    border-radius: 15px; }
  .reveal ul li.balloon {
    display: block;
    list-style-type: none;
    color: black;
    float: left;
    background: white !important;
    border: 8px solid #aad544;
    vertical-align: middle;
    margin: 30px 10px 30px 10px !important;
    border-radius: 10px;
    width: 28%;
    padding: 15px 0px 15px 0px;
    font-size: 1.5em;
    text-align: center; }
  .reveal ul {
    width: 100%;
    margin-left: 0px; }
  .reveal li.balloon:first-child {
    margin-left: 0px !important; }
  .reveal img.raw {
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: none;
    box-shadow: none;
    display: block; }
  .reveal img.side-image.half {
    height: 280px; }
  .reveal img.transparent {
    background: none !important;
    border: none;
    box-shadow: none; }
  .reveal img.multi-image-4 {
    width: 11%; }
  .reveal pre {
    margin-left: 0px; }

.pecha h1, .pecha h2, .pecha h3, .pecha h4, .pecha h5, .pecha ul, .pecha li, .pecha p {
  color: #444; }

.pecha-white h1, .pecha-white h2, .pecha-white h3, .pecha-white h4, .pecha-white h5, .pecha-white ul, .pecha-white li, .pecha-white p {
  color: #fff; }

.pecha.readable .slide-background.present {
  opacity: 0.3; }

.reveal.default:after {
  content: '';
  background-image: url("http://bewoog.nl/files/blokjes-groen.svg");
  background-repeat: no-repeat;
  background-size: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px; }

.reveal.none:after {
  content: '';
  background-image: url("http://bewoog.nl/files/blokjes-groen.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px; }
