/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #14689B;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$accent:    #aad544;

// Override theme settings (see ../template/settings.scss)
$mainColor: #fff;
$headingColor: #fff;
$headingTextShadow: none;
$headingTextTransform: inherit;
$headingLetterSpacing: 2px;
$backgroundColor: $base3;
$linkColor: $accent;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

$mainFont: 'Roboto', sans-serif;
$mainFontSize: 25px;

$headingFont: 'Roboto Condensed', sans-serif;
//$heading2Size: 1.75em;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal{
	position: relative;


	table{

		margin:0;
		font-size:.9em;
		th{
			font-size:.9em;
			text-transform: uppercase;
			color:rgba(255,255,255,.5);
			background:rgba(255,255,255,.05);
			color: $accent;
		}
		th,td{
			border-bottom-color:$base3;
			padding:.6em .6em .6em .6em;
			border-bottom-width:10px;

		}
		td{
			background:rgba(255,255,255,.1);
		}
		tbody tr:last-child td{
			border-bottom:10px solid $base3;
		}
	}

	table.full {
		width: 100%
	}

	.slides{
		text-align: left;
	}

	.progress{
		height:10px;
	}

	// Text changes


	ul li, ol li{
		margin:0.7em 0 !important;
		padding-left:10px !important;
	}


	// 2 or 3 images next to each other

	img.multi-image{
		width:29%;
		background:white!important;
		vertical-align: middle;
		padding:2px;
		margin-left:1% !important;
		border-radius:10px;
	}

	img.middle{
		margin-top: 5%;
	}

	// Image to the side
	img.side-image{
		position: fixed;
		right: 0px;
		float: right;
		height: 190px;
		background:white!important;
		vertical-align: middle;
		padding:2px;
		margin:5px !important;
		border-radius:15px;
	}

	ul li.balloon {
		display: block;
		list-style-type: none;
		color: black;
		float: left;
		background:white!important;
		border: 8px solid $accent;
		vertical-align: middle;
		margin: 30px 10px 30px 10px !important;
		border-radius:10px;
		width: 28%;
		padding: 15px 0px 15px 0px;
		font-size: 1.5em;
		text-align: center;
	}

	ul {
		width: 100%;
		margin-left: 0px;
	}

	li.balloon:first-child {
		margin-left: 0px !important;
	}

	img.raw {
		margin-left: auto;
		margin-right: auto;
		background: none;
		border: none;
		box-shadow: none;
		display: block;
	}

	img.side-image.half{
		height: 280px;
	}


	img.transparent {
		background: none !important;
		border: none;
		box-shadow: none;
	}

	// 4 images next to each other. use in combination with above class

	img.multi-image-4{
		width:11%;
	}

	pre {
		margin-left: 0px
	}
}

.pecha h1, .pecha h2, .pecha h3, .pecha h4, .pecha h5, .pecha ul, .pecha li, .pecha p, {
	color: #444;
}

.pecha-white h1, .pecha-white h2, .pecha-white h3, .pecha-white h4, .pecha-white h5, .pecha-white ul, .pecha-white li, .pecha-white p, {
	color: #fff;
}

.pecha.readable .slide-background.present {
 	opacity: 0.3;
}


// Blokje in presentation
.reveal.default {
	&:after{
		content:'';
		background-image:url('http://bewoog.nl/files/blokjes-groen.svg');
		background-repeat:no-repeat;
		background-size:80px;
		position: absolute;
		top:20px;
		left:20px;
		width:80px;
		height:80px;
	}
}

// Blokje in preview
.reveal.none {
	&:after{
		content:'';
		background-image:url('http://bewoog.nl/files/blokjes-groen.svg');
		background-repeat:no-repeat;
		background-size:30px;
		position: absolute;
		top:20px;
		left:20px;
		width:80px;
		height:80px;
	}
}